<div id="page_title"><span class="fa fa-home"></span> kitHub トップ</div>
<div id="tabs">
    <a href="/"><span class="fa fa-shopping-bag"></span> メインページ</a>
    <a href="/pickup"><span class="fa fa-clipboard"></span> ピックアップ</a>
    <a class="active"><span class="fa fa-question-circle"></span> 使い方ガイド</a>
</div>
<div id="content">
kitHubの使い方です。
</div>