<div id="page_title"><span class="fa fa-home"></span> kitHub トップ</div>
<div id="tabs">
    <a class="active"><span class="fa fa-shopping-bag"></span> メインページ</a>
    <a href="/pickup"><span class="fa fa-clipboard"></span> ピックアップ</a>
    <a href="/guide"><span class="fa fa-question-circle"></span> 使い方ガイド</a>
</div>
<div id="content">
    <div class="box">kitHub v0.1へようこそ！</div>
    はじめての方は、<%= link_to( "使い方ガイド", "/guide" ) %>や、<%= link_to( "新規登録", new_user_path ) %>をご覧ください。<hr>
    ・<%= link_to( "kitHubアカウント", "/users" ) %>では、kitHubユーザーの一覧を見ることができます。
</div>