<div id="page_title"><span class="fa fa-address-card"></span> kitHubアカウント</div>
<div id="tabs">
    <a href="/users/new"><span class="fa fa-user-plus"></span> ユーザー登録</a>
    <a class="active"><span class="fa fa-sign-in-alt"></span> ログイン</a>
    <a href="/users"><span class="fa fa-user"></span> ユーザー一覧</a>
</div>
<div id="content">
</div>